@model IEnumerable<MVC.ViewModels.UserVM>

@if (User.Identity.IsAuthenticated)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                        @Html.ActionLink("Details", "Details", new { id = item.User_Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.User_Id })
                    </td>
                }
            </tr>
        }

    </table> }
else
{
    <div>
        <h2>Please, Login</h2>
        @Html.ActionLink("Login", "Login", "Home")
    </div>
    <div>
        <h2>You do not have an account?</h2>
        @Html.ActionLink("Register", "Register", "User")
    </div>
}
